.modal_write_data {
  z-index: 9999;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.select_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .select_employment_country {
    width: 13rem;
  }

  .select_area {
    width: 13rem;
  }

  @media (max-width: 600px) {
    .select_employment_country {
      width: 12rem;
    }

    .select_area {
      width: 12rem;
    }
  }

  @media (max-width: 500px) {
    .select_employment_country {
      width: 8rem;
    }

    .select_area {
      width: 8rem;
    }
  }
}
