<nz-modal class="modal_write_data"
 [(nzVisible)]="isVisible"
 [nzTitle]="title"
 (nzOnCancel)="handleCancel()"
 (nzOnOk)="handleOk()">
  <ng-container style="padding: 0;margin:0;" *nzModalContent>
    <form style="max-width: 100%;" class="form_write_user"
     nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item class="form_write_user_item">
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-input-group>
            <input type="text" nz-input formControlName="firstName" placeholder="First Name" />
          </nz-input-group>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please write the first name!
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              Max length reach 20!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTp2">
          <nz-input-group>
            <input type="text" nz-input formControlName="otherName" placeholder="Others Name" />
          </nz-input-group>
          <ng-template #errorTp2 let-control>
            <ng-container *ngIf="control.hasError('maxlength')">
              Max length reach 50!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="errorTp3">
            <nz-input-group>
              <input type="text" nz-input formControlName="firstSurname" placeholder="First Surname" />
            </nz-input-group>
            <ng-template #errorTp3 let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please write the first surname!
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                Max length reach 20!
              </ng-container>
            </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Last Surname!">
          <nz-input-group>
            <input type="text" nz-input formControlName="lastSurname" placeholder="Last Surname" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
      <nz-form-control
          [nzValidateStatus]="validateForm.controls['identificationNumber']"
          nzErrorTip="Please input your identification number!"
        >
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select
               formControlName="identificationType" nzPlaceHolder="IT">
                <nz-option nzLabel="CC" nzValue="CC"></nz-option>
                <nz-option nzLabel="CE" nzValue="CE"></nz-option>
                <nz-option nzLabel="PP" nzValue="PP"></nz-option>
                <nz-option nzLabel="PE" nzValue="PE"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="identificationNumber" id="'phoneNumber'"
            placeholder="Identification Number" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div class="select_items">
        <nz-form-item class="select_items_country">
          <nz-form-control nzErrorTip="Please select employment country!">
            <nz-input-group>
              <nz-select class="select_employment_country" 
               formControlName="employmentCountry" nzPlaceHolder="Employment Country">
                <nz-option nzLabel="Colombia" nzValue="1"></nz-option>
                <nz-option nzLabel="USA" nzValue="2"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="select_items_area">
          <nz-form-control nzErrorTip="Please select area!">
            <nz-input-group class="select_items_area">
              <nz-select class="select_area" formControlName="area" nzPlaceHolder="Employee Area">
                <nz-option nzLabel="Administración" nzValue="1"></nz-option>
                <nz-option nzLabel="Financiera" nzValue="2"></nz-option>
                <nz-option nzLabel="Compras" nzValue="3"></nz-option>
                <nz-option nzLabel="Infraestructura" nzValue="4"></nz-option>
                <nz-option nzLabel="Operación" nzValue="5"></nz-option>
                <nz-option nzLabel="Talento Humano" nzValue="6"></nz-option>
                <nz-option nzLabel="Servicios varios" nzValue="7"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div  class="select_items">
      <nz-form-item *ngIf="hiddenComponent">
        <nz-form-control>
          <nz-date-picker
          [nzDisabledDate]="disabledDate"
          class="select_employment_country"
          formControlName="admissionDate" nzPlaceHolder="Admission date"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!hiddenComponent" class="select_items_form_status">
          <nz-input-group class="select_items_status">
            <nz-select class="select_employment_country" formControlName="status" nzPlaceHolder="Status">
              <nz-option nzLabel="Active" nzValue="true"></nz-option>
              <nz-option nzLabel="Inactive" nzValue="false"></nz-option>
            </nz-select>
          </nz-input-group>
      </nz-form-item>
    </div>
    </form>
  </ng-container>
</nz-modal>
