<nz-table #nzTable [nzData]="listOfDisplayData" [nzPageSize]="listPagination" nzSize="middle" [nzScroll]="{ x: '1200px', y: '300px' }" >
    <thead class="component_table_header">
      <tr>
        <th class="component_table_header_label" *ngFor="let field of fields" (click)="selectData(field.data)"  [nzRight]="field.nzRigth ? true : false">
          {{field.field}}
            <nz-filter-trigger  class="trigger" [(nzVisible)]="visible" [nzDropdownMenu]="menu">
            </nz-filter-trigger>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data" class="editable-row">
        <td class="component_table_value">
            {{ data.firstName }}
        </td>
        <td class="component_table_value">{{ data.otherName }}</td>
        <td class="component_table_value">{{ data.firstSurname }}</td>
        <td class="component_table_value">{{ data.lastSurname }}</td>
        <td class="component_table_value">{{ data.email }}</td>
        <td class="component_table_value">{{ data.identificationType }}</td>
        <td class="component_table_value">{{ data.identificationNumber }}</td>
        <td class="component_table_value">{{ data.employmentCountry.name }}</td>
        <td class="component_table_value">{{ data.area.name }}</td>
        <td class="component_table_value">{{ data.status ? "Active" : "Inactive" }}</td>
        <td class="component_table_value">
          {{ data.admissionDate.getDate() }}/{{ data.admissionDate.getMonth() + 1 }}/{{ data.admissionDate.getFullYear() }}
        </td>
        <td class="component_table_value">
          {{ data.createdAt.getDate() }}/{{ data.createdAt.getMonth() + 1 }}/{{ data.createdAt.getFullYear() }}
        </td>
        <td class="component_table_value">
          {{ data.updatedAt.getDate() }}/{{ data.updatedAt.getMonth() + 1 }}/{{ data.updatedAt.getFullYear() }}
        </td>
        <td class="component_table_value" nzRight>
          <button nz-button (click)="functionEdit(data)"
          nzType="primary" nzShape="circle"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
        </td>
        <td class="component_table_value" nzRight>
          <button nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this user?"
            (nzOnConfirm)="functionDelete(data.id)"
            nzPopconfirmPlacement="topLeft"
            nz-button nzDanger nzType="primary" nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline"
            ></i></button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search Value" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>