.component_table_header {
  cursor: pointer;
  padding: 0;
  margin: 0;
  &_label {
    cursor: pointer;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgb(221, 208, 208);
  }
}

.component_table_value {
  word-break: break-all;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
  background: rgb(221, 208, 208);
  color: black;
}

.trigger {
  background: none;
}
