.list_users {
  .list_users_title {
    text-align: center;
    margin: 1rem;
  }
  .container_add_button {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
    .add_button {
      position: -webkit-sticky;
      position: sticky;
      top: 4.5rem;
      float: right;
      background: rgb(100, 4, 179);
      width: 4rem;
      height: 10vh;
      color: white;
      z-index: 999999;
    }
  }

  &_table {
    width: 95%;
    margin: auto;
    margin-top: 0;
    padding: 0;
    position: relative;
    border-collapse: collapse;
  }
}
