<div class="list_users">
  <h1 class="list_users_title">Manage your employees schedule</h1>
  <app-modal-write-data 
    [isVisibleMethod]="showModalHandle()"
    [isVisible]="showModal"
    [title]="titleModal"
    [submitFormOnSave]="create ? onSubmitCreateUser.bind(this) : onSubmitEditUser.bind(this)"
    [validateForm]="validateForm"
    [hiddenComponent]="hiddenComponent"
  ></app-modal-write-data>
  <div class="container_add_button">
    <button class="add_button" nz-button nzShape="circle" (click)="addUser()">
      <i nz-icon nzType="user-add" nzTheme="outline"></i>
    </button>
  </div>
  <div class="list_users_table">
    <app-table *ngIf="users"
    [users]="users" [fields]="fields" [functionDelete]="deleteData.bind(this)" 
    [functionEdit]="editUser.bind(this)"></app-table>
  </div>
</div>