.header_component {
  width: 100%;
  height: 10vh;
  background: rgba(100, 4, 179, 0.699);
  display: flex;

  &_logo {
    margin: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
